* {
  box-sizing: border-box;
}

:root {
  --bg-color: #23232d;
  --hover-color: #282833;
  --line-color: #3c3c4d;
  --highlight-color: #9f9fcc;

  --spin-speed: 1.5s;
  --transition-speed: 0.3s;

  scrollbar-color: var(--line-color) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--line-color);
  border: 3px solid var(--bg-color);
  border-radius: 6px;
}

.muted {
  color: #6c6c80;
}

.flex-spacer {
  flex-grow: 1;
}

body {
  background-color: var(--bg-color);
  color: #fff;
  font: 400 1em/1.3 'Fira Mono', monospace;

  margin: 0;
}

#app {
  display: flex;
}

.tab-nav {
  --padding: 0.6em;

  width: 18em;
  height: 100vh;
  overflow-y: scroll;
}

.tab-nav p {
  font-size: 0.75em;

  margin: 0;
}

.tab-nav-header {
  padding: var(--padding);
}

.tab-nav-header .title {
  font-size: 1em;
  font-weight: 400;

  margin: 0;
}

.tab-nav-header .stats {
  display: flex;
}

.tab-nav-header > *:not(:last-child) {
  margin-bottom: var(--padding);
}

.tab-nav-header .stats > *:not(:last-child):not(.flex-spacer) {
  margin-right: 1em;
}

.tab {
  border-top: 1px solid var(--line-color);
  border-left: 3px solid transparent;
  border-bottom: 1px solid transparent;
  color: inherit;
  text-decoration: none;

  padding: var(--padding);
  padding-left: calc(var(--padding) - 3px);
  display: flex;
  align-items: center;
}

.tab.active {
  border-left-color: var(--highlight-color);
}

.tab:hover {
  background-color: var(--hover-color);
}

.tab > *:not(:last-child):not(.flex-spacer) {
  margin-right: var(--padding)
}

.tab .status-icon {
  --border-width: 4px;

  border: var(--border-width) solid var(--line-color);
  border-radius: 50%;

  transition: border var(--transition-speed);
  animation: spin var(--spin-speed) linear infinite;

  width: 1.5em;
  height: 1.5em;
}

.tab .status-icon.running {
  border-top-color: var(--highlight-color);
}

.tab .status-icon.finished {
  border-color: var(--highlight-color);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.case-name {
  overflow: hidden;
}

.case-name p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.case-num {
  width: max-content;
}